<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py">
    <param name="lm" value="/home/nathaniel/catkin_ws_wr/src/dialog_robot/pocketsphinx/mdef"/>
    <param name="dict" value="/home/nathaniel/catkin_ws_wr/src/dialog_robot/pocketsphinx/recipe.dic"/>
    <param name="kws" value="/home/nathaniel/catkin_ws_wr/src/dialog_robot/pocketsphinx/recipe.kwlist"/>
    <param name="stream" value="true" />
  </node>

  <node name="dialog" pkg="dialog_robot" type="dialog.py" output="screen" required="true">
    <param name="voice" value="voice_kal_diphone"/>
    <param name="wavepath" value="/home/nathaniel/catkin_ws_wr/src/dialog_robot/sounds/" />
  </node>

</launch>
